<h3>Canvas Support Tools</h3>
<ul>
    <li><a href="{% url 'ImportStatus' %}">Status and General Health</a></li>
    <li><a href="{% url 'ManageUsers' %}">Manage Users</a></li>
    <li><a href="{% url 'ManageCourses' %}">Search Courses</a></li>
    <li><a href="{% url 'ManageGroups' %}">Canvas Course Groups</a></li>
    <li><a href="{% url 'ManageAdmins' %}">Canvas Sub-Account Admins</a></li>
    <li><a href="{% url 'ManageExternalTools' %}">Manage External Tools</a></li>
    <li><a href="{% url 'ManageJobs' %}">Manage Provisioning Jobs</a></li>
</ul>

{% if can_view_restclients|default_if_none:True %}
<h3>Data Searches</h3>
<ul class="default-sidelinks">
{% url 'restclients_proxy' 'sws' 'student/v5.json' as sws_url %}
{% if sws_url %}
    <li><a href="{{ sws_url }}">{{ restclients_sws_link|default:"Search Student Web Service" }}</a></li>
{% endif %}

{% url 'restclients_proxy' 'pws' 'identity/v2/person.json' as pws_url %}
{% if pws_url %}
    <li><a href="{{ pws_url }}">{{ restclients_pws_link|default:"Search Person Web Service" }}</a></li>
{% endif %}

{% url 'restclients_proxy' 'gws' 'group_sws/v3/search' as gws_url %}
{% if gws_url %}
    <li><a href="{{ gws_url }}">{{ restclients_gws_link|default:"Search Groups Web Service" }}</a></li>
{% endif %}
</ul>
{% endif %}

{% if can_manage_admin_group|default_if_none:False %}
<ul>
    <li><a href="https://groups.uw.edu/group/{{ admin_group }}" title="Add and remove people who can use these tools" target="_blank">Manage Support Admins</a></li>
</ul>
{% endif %}
