{% verbatim %}
<script id="course-expiration" type="text/x-handlebars-template">
<div id="course-expiration-editor" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="ce-modal-title" class="modal-title">Manage course expiration</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ce-expiration_exc_desc">Reason for exception:</label>
            <div>
              <textarea id="ce-expiration_exc_desc" style="width: 300px; height: 100px;"></textarea>
            </div>
          </div>
          <input id="ce-canvas-course-id" type="hidden" value=""/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-btn" title="Save"><span class="glyphicon" aria-hidden="true"></span>Save</button>
        <button type="button" class="btn btn-default cancel-btn" title="Cancel" data-dismiss="modal"><span class="glyphicon" aria-hidden="true"></span>Cancel</button>
      </div>
    </div>
  </div>
</div>
</script>
{% endverbatim %}
