{% verbatim %}
<script id="user-info" type="text/x-handlebars-template">
{{#if is_valid}}
  {{#if net_id}}
    {{ display_name }} (<span id="user_net_id">{{ net_id }}</span>)
  {{else}}
    &quot;{{ gmail_id }}&quot;
  {{/if}}
  {{#if provisioned_date}}
    {{#if net_id}}
      was provisioned on {{ provisioned_date }}
    {{else}}
      has been provisioned to Canvas.
    {{/if}}
  {{else}}
    {{#if added_date}}
added for provisioning on {{ added_date }}
    {{else}}
has <strong>NOT</strong> been provisioned to Canvas. <button class="btn" type="button" id="user_add_button">Provision <b>{{ net_id }}</b></button>
    {{/if}}
  {{/if}}
  <br/>
  {{#if net_id}}
    <br/>
    {{#if can_access_canvas}}
    This UWNetID is currently allowed to access Canvas.
    {{else}}
    This UWNetID is currently <strong>NOT</strong> allowed to access Canvas.
    {{/if}}
    <br/>
    {{#if person_url}}
    <br /><a class="js-sws-person" href="{{person_url}}"><i class="fa fa-database"></i> View user details in the Person Web Service</a>
    {{/if}}
    {{#if enrollment_url}}
    <br /><a class="js-sws-enrollment" href="{{enrollment_url}}"><i class="fa fa-database"></i> View user enrollments in the Student Web Service</a>
    {{/if}}
    {{#if canvas_users}}
    <br/><br/>
    Canvas info about this user:
    {{#each canvas_users}}
    <div>
        <div>{{#if avatar_url}}<img src="{{avatar_url}}" title="Canvas Avatar"/> {{/if}}<span>{{name}}</span>&nbsp;&nbsp;<a class="js-sws-person" href="https://canvas.uw.edu/accounts/83919/users/{{id}}" target="_blank">Canvas Profile</a></div>
        ID: {{id}}<br/>
        Login_ID: {{login_id}}<br/>
        SIS_ID: {{sis_user_id}}<br/>
        Last login: {{last_login}}
    </div><br/>
    {{/each}}
    {{/if}}
  {{/if}}

{{else}}
{{ net_id }} is not a valid user
{{/if}}
</script>
{% endverbatim %}
