{% verbatim %}
<script id="user-info" type="text/x-handlebars-template">
{{#if is_valid}}
  {{#if net_id}}
    {{ display_name }} (<span id="user_net_id">{{ net_id }}</span>)
  {{else}}
    &quot;{{ gmail_id }}&quot;
  {{/if}}
  {{#if provisioned_date}}
    {{#if net_id}}
      was provisioned on {{ provisioned_date }}
    {{else}}
      has been provisioned to Canvas.
    {{/if}}
  {{else}}
    {{#if added_date}}
added for provisioning on {{ added_date }}
    {{else}}
has <strong>NOT</strong> been provisioned to Canvas. <button class="btn" type="button" id="user_add_button">Provision <b>{{ net_id }}</b></button>
    {{/if}}
  {{/if}}
  <br/>
  {{#if net_id}}
    {{#if enrollment_url}}
    <br /><a class="js-sws-enrollment" target="_blank" href="{{enrollment_url}}"><i class="fa fa-database"></i> View user enrollments in the Student Web Service</a>
    {{/if}}
    {{#if canvas_users}}
    <br/><br/>
    <strong>This user exists in Canvas:</strong>
    <table style="border: 0;">
    {{#each canvas_users}}
    <tr>
      <td style="padding: 8px; vertical-align: top;">
        <a href="https://canvas.uw.edu/accounts/83919/users/{{id}}" target="_blank" title="View the Canvas Profile page for this user"><img src="{{avatar_url}}" width="32" height="32"/></a>
      </td>
      <td style="padding: 8px; vertical-align: top;">
        <div>Name: {{name}}</div>
        <div>Canvas ID: <a href="https://canvas.uw.edu/accounts/83919/users/{{id}}" class="js-sws-person" target="_blank" title="View the Canvas Profile page for this user">{{id}}</a></div>
        <div>UWNetID: <strong>{{login_id}}</strong>&nbsp;&nbsp;{{#if can_access_canvas}}
        <i class="fa fa-check-circle-o success" title="This UWNetid is allowed to access Canvas"></i>
        {{else}}
        <i class="fa fa-ban failure" title="This UWNetid is NOT allowed to access Canvas"></i>{{/if}}
        </div>
        <div>UWRegID (SIS ID): {{#if person_url}}<a class="js-sws-person" href="{{person_url}}" target="_blank" title="View user data in the Person Web Service">{{sis_user_id}}</a>{{else}}{{sis_user_id}}{{/if}}</div>
        <div>Last login: {{#if last_login}}{{last_login}}{{else}}Never{{/if}}</div>
      </td>
    </tr>
    {{/each}}
    </table>
    {{else}}
    <strong>This user does not exist in Canvas!</strong>
    {{/if}}
  {{/if}}

{{else}}
{{ net_id }} is not a valid user
{{/if}}
<br/><br/><br/>
</script>
{% endverbatim %}
