{% verbatim %}
<script id="user-info" type="text/x-handlebars-template">
{{#if is_valid}}
  {{ display_name }} (<span id="user_net_id">{{ net_id }}</span>)
  {{#if provisioned_date}}
    {{#if net_id}}
      was provisioned on {{ provisioned_date }}
    {{else}}
      has been provisioned to Canvas.
    {{/if}}
  {{else}}
    {{#if added_date}}
added for provisioning on {{ added_date }}
    {{else}}
has <strong>NOT</strong> been provisioned to Canvas. <button class="btn" type="button" id="user_add_button">Provision <b>{{ net_id }}</b></button>
    {{/if}}
  {{/if}}
  <br/>
  {{#if net_id}}
    {{#if enrollment_url}}
    <br /><a class="js-sws-enrollment" target="_blank" href="{{enrollment_url}}"><i class="fa fa-database"></i> View user enrollments in the Student Web Service</a>
    {{/if}}
    <br/><br/>
    {{#if canvas_users}}
    <strong>This user exists in Canvas:</strong>
    <table style="border: 0;">
    {{#each canvas_users}}
    <tr>
      <td style="padding: 8px; vertical-align: top; text-align: center;">
        <a href="https://canvas.uw.edu/accounts/83919/users/{{id}}" target="_blank" title="View the Canvas Profile page for this user"><img src="{{avatar_url}}" width="36" height="36"/><br/>{{id}}</a>
      </td>
      <td style="padding: 8px; vertical-align: top;">
        <div>UWNetID: <strong>{{login_id}}</strong>
        {{#if can_access_canvas}}
        <i class="fa fa-check-circle-o success" title="This UWNetid is allowed to access Canvas"></i>
        {{else}}
        <i class="fa fa-ban failure" title="This UWNetid is NOT allowed to access Canvas"></i>
        {{/if}}
        </div>
        <div>UWRegID (SIS ID): {{#if person_url}}<a class="js-sws-person" href="{{person_url}}" target="_blank" title="View user data in the Person Web Service">{{sis_user_id}}</a>
        {{#if can_update_sis_id}}&nbsp;&nbsp;&nbsp;<button class="btn btn-xs btn-danger merge-users" data-reg-id="{{sis_user_id}}" data-sis-update="yes" ref="javascript:void(0);" title="SIS ID is not current for this user">Update SIS ID</button>{{/if}}{{else}}{{sis_user_id}}{{/if}}</div>
        <div>Name: {{name}}</div>
        <div>Last login: {{#if last_login}}{{format_relative_date last_login}}{{else}}Never{{/if}}
          {{#if can_terminate_user_sessions}}
          &nbsp;&nbsp;&nbsp;<button class="btn btn-xs btn-warning terminate-sessions" data-net-id="{{net_id}}" data-user-id="{{id}}" ref="javascript:void(0);">Terminate Sessions</button>
          {{/if}}
        </div>
      </td>
    </tr>
    {{/each}}
    </table>
    <br/>
    <div>
      {{#if can_merge_users}}
        <button class="btn btn-xs btn-secondary merge-users" data-reg-id="{{reg_id}}" ref="javascript:void(0);">Merge Canvas Users</button>
      {{/if}}
      {{#if masquerade_url}}
        <button class="btn btn-xs btn-primary masquerade-user"><a href="{{masquerade_url}}" target="_blank" title="Masquerade as {{name}} in Canvas" style="color:#fff;">Masquerade</a></button>
      {{/if}}
      {{#if can_create_user_course}}
        &nbsp;&nbsp;<button class="btn btn-xs btn-primary sync-user" data-reg-id="{{reg_id}}" ref="javascript:void(0);" title="Sync this user to Canvas">Sync User</button>
        &nbsp;&nbsp;<button class="btn btn-xs btn-primary create-course" data-net-id="{{net_id}}" ref="javascript:void(0);" title="Create a course for this user">Create Course</button>
      {{/if}}
    </div>
    {{else}}
      <strong>This user does NOT exist in Canvas, and {{net_id}} {{#if can_access_canvas}}is{{else}}is NOT{{/if}} allowed to access Canvas.</strong>
    {{/if}}
  {{/if}}

{{else}}
{{net_id}} is not a valid user
{{/if}}
<br/><br/><br/>
</script>
{% endverbatim %}
